<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>AppStore</title>

	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
	@Scripts.Render("~/bundles/scripts")
	<style>
		#divLoading {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 1000;
			background-color: #ddffdc;
			opacity: .8;
			content: 'Loading...';
		}

		.loading {
			position: absolute;
			left: 40%;
			top: 50%;
			margin-left: -32px;
			margin-top: -32px;
			display: block;
			color: black;
		}
	</style>
</head>
<body ng-app="app" ng-controller="mainController">
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="#!" title="AppStore" class="navbar-brand">AppStore</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li ng-class="{active: isActive('/home')}"><a href="#!home">Главная</a></li>
					<li ng-class="{active: isActive('/catalog')}"><a href="#!catalog">Каталог</a></li>
					<li ng-class="{active: isActive('/about')}"><a href="#!about">О магазине</a></li>
					<li ng-class="{active: isActive('/contact')}"><a href="#!contact">Контакты</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li title="Корзина"><a href="#!basket"><span class="glyphicon glyphicon-shopping-cart"></span><span class="badge">{{basketAmount}}</span></a></li>
					<li ng-hide="isLoged"><a href="#!login">Вход</a></li>
					<li ng-hide="isLoged"><a href="#!registration">Регистрация</a></li>
					<li ng-hide="!isLoged"><a href="#!home">{{LoginName}}</a></li>
					<li ng-hide="!isLoged"><a href="" ng-click="Logout()">Выйти</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container body-content">
		<div id="divLoading" ng-show="loading" style="font-size:50px;">
			<div class="loading">
				Загружаю .....
			</div>
		</div>
		<div ng-view>
			@RenderBody()
		</div>

		<footer class="navbar-fixed-bottom panel-footer">
			License: FREE to use by anyone in any form
			<p>&copy; Developed by Ruslan Gayfulin</p>
		</footer>
	</div>
</body>
</html>