<h1>{{Title}}</h1>

<table class="table table-striped table-responsive">
    <tr>
        <th>Наименование</th>
        <th>Цена</th>
        <th>Количество</th>
        <th>Итого</th>
        <th></th>
    </tr>
    <tr ng-repeat="g in GoodsInBasket">
        <td>{{g.Goods.Name}}</td>
        <td>{{g.Goods.Price}}</td>
        <td class="text-center">{{g.Amount}}</td>
        <td>{{g.Goods.Price * g.Amount}}</td>
        <th><button type="button" class="btn btn-success btn-sm" ng-click="Remove(g.Id)">Удалить</button></th>
    </tr>
    <tr class="success">
        <td>ИТОГО:</td>
        <td></td>
        <td class="text-center">{{GoodsInBasketSumAmount()}}</td>
        <td>{{TotalPrice()}}</td>
        <th></th>
    </tr>
</table>