<h1>{{Title}}</h1>

<form ng-submit="SaveGoods()">
	<div class="form-horizontal">
		<hr />

		<div class="form-group">
			<label class="control-label col-md-2">Наименование</label>
			<div class="col-md-10">
				<input type="text" name="Name" required class="form-control" ng-model="Name" />
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-md-2">Цена</label>
			<div class="col-md-10">
				<input type="text" name="Price" required class="form-control" ng-model="Price" />
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-md-2">Колличество на складе</label>
			<div class="col-md-10">
				<input type="number" name="Amount" required class="form-control" ng-model="Amount" />
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-md-2">Описание</label>
			<div class="col-md-10">
				<input type="text" name="Description" required class="form-control" ng-model="Description" />
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Сохранить" class="btn btn-default" />
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<ul>
					<li class="text-danger" ng-repeat="message in ErrorMessages">{{message}}</li>
				</ul>
			</div>
		</div>
	</div>
</form>
